body {
  margin: 0;
  padding: 0;
}
.left-sidebar {
  padding: 0;
  margin: 0;
  width: 19%;
  height: 100%;
  background-color: white;
}
.left-sidebar * {
  padding: 0;
  margin: 0;
}
#main {
  margin: 0;
  padding: 0;
}
#main .span9 {
  margin: 0;
  padding: 0;
  width: 80%;
  height: 100%;
}

#marker-info {
  width: 100%;
  border-top: 2px solid grey;
}

.marker, .search-form, #pagination { 
  padding: 15px;
  font-size: .9em;
}

.marker:hover { 
  background-color: #eee;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 14px;
  padding-bottom: 14px;
}

.search-form td, .search-form select { 
  padding: 5px;
 }

.search-form input[type=submit] { 
  padding: 7px;
}

.marker-name { 
  font-weight: bold;
  font-size: 1.1em;
}

.change-page { 
  margin: 0 7px;
  color: blue;
  font-size: 1.2em;
}

.change-page:hover { 
  color: red;
  cursor: pointer;
 }